# Desktop app
SOUNDUNCLOUD_AUTH_BASE_URL=http://127.0.0.1:8787

# Auth service
SOUNDCLOUD_CLIENT_ID=your_client_id
SOUNDCLOUD_CLIENT_SECRET=your_client_secret
SOUNDUNCLOUD_PUBLIC_BASE_URL=http://127.0.0.1:8787
SOUNDUNCLOUD_BIND_ADDR=127.0.0.1:8787
